*{
    margin : 0;
    padding: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

img{
    max-width: 100%;
}

:root{
    --header-back-color : #000000;

    --button-back-color : #999999;

    --button-color : #FAFAFA;

    --text-color : #FAFAFA;

    --noti-color : #FF0000;
}