.main-container{
    background-color: var(--header-back-color);
    display: flex;
    color: var(--text-color);
}

.content-container{
    width: 100%;
    /* display: flex; */
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.recommended_poster{
    z-index: 1;
    background-position: 50%;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.recommended_content{
    margin-top: 10%;
    z-index: 5;
    position: relative;
    width: 100%
}

.recommended_content-synopsis{
    margin-left: 3%;
}

.recommended_content-title{
    width: 40%;
}

.recommended_content-synopsis-storyline{
    width: 35%;
    padding-top: 0.5%;
    font-size: 18px;
}

.recommended_content-buttons{
    display: flex;
    flex-direction: row;
    padding: 20px 0px 20px 20px;
    width: 100%;
    justify-content: space-between;
    border: none;
}

.left_button{
    width: 60%;
    padding-left: 24px;
}

.left_button-play{
    width: 20%;
    height: 120%;
    font-size: 20px;
    border: none;
    border-radius:5px;
    margin-right: 10px;
}

.left_button-details{
    width: 30%;
    height: 120%;
    font-size: 20px;
    background-color: rgba(170, 170, 170, 0.7);
    border: none;
    border-radius:5px;
    color: white;
}

.right_button{
    width: 10%;
    display: flex;
}

.right_button-sound{
    width: 200%;
    border-radius:100%;
}

.right_button-rate{
    width: 600%;
    background-color: gray;
    opacity: 0.7;
    text-align: left;
    align-items: center;
}